.add-option-error{
    color: $off-white;
    font-style: italic;
    margin: $m-size 0 0 0;
    padding: 0 $m-size;
}

.add-option{
    display: flex;
    padding: $m-size;
    flex-direction: row;

}
.add-option-input{
    flex-grow: 1;
    background-color: $dark-blue;
    border: none;
    border-bottom: .3rem solid darken($dark-blue, 10%);
    margin: 0 $s-size 0 0;
    color: $off-white;
    padding: $s-size;
}

//for mobile use
@media (max-width: 45rem){
    .add-option{
        flex-direction: column;
    }
    .add-option-input{
        
        margin: 0 0 $s-size 0;
    }

}